.dvBox {
    * { box-sizing: border-box; }
    .content {
        height: 546px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 25px 35px 0;
        > div {
            width: 530px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 425px;
            dt {
                line-height: 50px;
                padding-left: 37px;
                border-bottom: 2px solid #194b4c;
                font-size: 24px;
                color: #003739;
                position: relative;
                font-weight: bold;
                img {
                    position: absolute;
                    top: 0; bottom: 0;
                    left: 0;
                    margin: auto 0;
                }
            }
            dd {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px 20px 0;
            }
        }
    }
}
.select {
    width: 100%;
    position: relative;
    .btn_sel {
        width: 100%;
        height: 56px;
        position: relative;
        padding-left: 30px;
        font-size: 22px;
        color: #003739;
        border-radius: 16px;
        border: 2px solid #dddddd;
        background: transparent;
        text-align: left;
        margin-bottom: 10px;
        &::before {
            content: '';
            width: 56px;
            background: #22b3f6 url("../../../static/images/bg_select.png") center no-repeat;
            position: absolute;
            right: -1px;
            top: -1px; bottom: -1px;
            border-radius: 0 16px 16px 0;
        }
        p {
            text-overflow:ellipsis;
            white-space:nowrap;
            word-wrap:normal;
            width:400px;
            overflow:hidden;
        }
    }
    .sel_list {
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0; right: 0;
        border: 2px solid #dddddd;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        li {
            font-size: 22px;
            padding: 0 30px;
            cursor: pointer;
            line-height: 46px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;
            &:hover {
                background: #bce8fc;
                color: #008ed0;
            }
        }
    }
}
.t_screen {
    width: 100%;
    height: 294px;
    border-radius: 25px 25px 25px 0;
    border: 2px solid #dddddd;
    background: #f6f6f6;
    & > video{
        width: 100%;
        height: 100%;
    }
}
.volume {
    width: 100%;
    height: 53px;
    border: 2px solid #dddddd;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        width: 430px;
        display: flex;
        .vol {
            width: 20px;
            height: 26px;
            border-radius: 2px;
            background: #e6e7e8;
            margin: 0 2px;
        }
    }
}
.btn_test_sound {
    width: 100%;
    height: 54px;
    background: url("../../../static/images/btn_test_sound.png") no-repeat;
    background-size: 100% auto;
    border: none;
    &.on { 
        background-image: url("../../../static/images/btn_test_sound_on.png");
        background-size: 100% auto; 
    }
}